.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    padding: 1rem;
    justify-content: center;

    .carousel-fade {
        width: 100%;
        z-index: 0;
    }
    .carousel-item {
        h3,
        p {
            color: #aaa;
            font-family: "Indie Flower", cursive;
            font-weight: bold;
            font-size: 80px;
            background: linear-gradient(to right, #fff 20%, #111 40%, #111 60%, #fff 80%);
            background-size: 200% auto;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 4s linear infinite alternate;
        }
        p {
            font-size: 2rem;
            margin: 0;
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .arrow {
        position: fixed;
        display: flex;
        left: 92%;
        border-radius: 100%;
        bottom: 0;
        font-size: 3rem;

        .arrowIcon {
            color: #aaa;
        }
        &:hover {
            color: #ffdffd;
            transform: scale(1.1);
        }
    }
    @media (max-width: 767px) {
        .carousel-item {
            h3 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .arrow {
            left: 80%;
        }
    }
}
