.pageProduct {
    padding: 1.5rem 1rem 2rem 2rem;
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        position: relative;
        .backIcon {
            font-size: 2rem;
            position: absolute;
            left: 20px;
            cursor: pointer;
            top: 10px;
            &:hover {
                transform: scale(1.1);
            }
        }
        .productImg {
            width: 100%;
            height: 200px;
        }
        &:hover {
            transform: scale(1);
        }
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            .priceCart {
                button {
                    padding-right: 2rem;
                    vertical-align: 5px;
                    padding-bottom: 1rem;
                }
            }
            h3,
            p {
                text-align: center;
            }
            p {
                font-weight: bold;
                word-break: break-all;
                width: 80%;
            }
        }
    }
}
@media (max-width: 967px) {
    .pageProduct {
        .product .productImg {
            width: 150px;
        }
    }
}
